#HeaderDescription
{
	background-color: #212121;
	color: #ffffff;
	font-size: 50px;
	text-align: center;	
	margin: 0;
	padding: 0;
}
#Navbar 
{
	position: sticky;
	top: 0;
	background-color: #212121;
	font-size: 30px;
	border-top: 1px solid black;
	text-align: center;
	word-spacing: 50px;
	padding-top: .50em;
	z-index: 2;
}
#Navbar a 
{
	text-decoration: none;
	color: #ffffff;
}
#Navbar a:hover
{
	color: #808080;

}
.active
{
	color: #808080;
}
#fullbody
{
	display: inline-block;
}
#parent
{
	display: grid;
	padding-top: 2em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto);
	grid-column-gap: 1em;
	grid-row-gap: 4em;
	background-color: #424242;
	position: relative;
}
.imageD
{
	display: grid;
	border: 1px solid black;
	overflow: scroll;
	padding:.5em;
}
.imageD:hover
{
	opacity:0.5;
}
.imageD img
{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}
figcaption 
{
	text-align: center;
	margin-top: 0px;
	color: #B2EBF2;
}
#news
{
	background-color: #9E9E9E;
	display: inline-grid;
	grid-template-columns: 1fr 2fr;	
	grid-auto-rows: 200px;
	grid-column-gap: 1em;
	padding: 5em 0em 5em 0em;
}
#newsIMG
{
	overflow: hidden;
}
#newsIMG img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
#newsText
{
	text-align: center;
	overflow: scroll;
	padding-right: 4em;
}
#Cabout
{
	background-color: #E0E0E0;
	padding:5em 10em 5em 10em;
	font-style: italic;
}
#Contact
{
	background-color: #F5F5F5;
	padding:5em 10em 5em 10em;
	font-style: italic;
	text-align: center;
}



